		<table width="100%" cellspacing="1" border="0" class="forumline">
		  <tr>
			<{PORTAL_CLASS_BALISE} class="{PORTAL_CLASS_TITLE}" height="25"><span class="genmed"><b>{L_NEWS}</b></span>
			</{PORTAL_CLASS_BALISE}>
		  </tr>
<!-- BEGIN post_row -->
		<!-- BEGIN saut -->
		<tr>
                <td class="spaceRow" height="1" style="height:1px"></td>
                </tr>
		<!-- END saut -->
		
		  <tr>
			<td class="row2"height="24">
			<span class="gensmall"><span style="float:right"> {L_AUTHOR}:<b>{post_row.POSTER}</b> {L_POSTED}:{post_row.TIME}</span><b>{post_row.TITLE}</b></span>
			</td>
		  </tr>
		  <tr>
			<td class="row1">
			<span class="gensmall" style="line-height:150%">{post_row.TEXT}<br />
			<br />[ <a href="{post_row.U_READ_FULL}">{post_row.L_READ_FULL}</a> <a href="{post_row.U_VIEW_COMMENTS}">{L_VIEW_COMMENTS}</a> ]
			</span>
			</td>
		  </tr>

		<!-- END post_row -->
</table>	
