<table class="forumline" border="0" cellspacing="1" cellpadding="2" width="100%">
 <tr>
  <{PORTAL_CLASS_BALISE} class="{PORTAL_CLASS_TITLE}" nowrap="nowrap"><span class="genmed"><b>&nbsp;Chat&nbsp;</b></span></th>
 </tr>
 <tr><td class="row3" style="padding:3px"><b><span class="genmed" id="chatTopic">&nbsp;</span></b></td></tr>
 <tr>
  <td style="padding:0">
   <div id="chatList" style="height:100px;overflow:auto;" onmouseover="xooitChat.autoScroll=false;" onmouseout="xooitChat.autoScroll=true;">
    <table id="chatMsgContainer" class="forumline" border="0" cellspacing="1" width="100%" style="border:0">
     <tr><td class="row1" style="height:100px">&nbsp;</td></tr>
    </table>
   </div>
  </td>
 </tr>
 <tr>
  <td class="row1">
  <img src="http://img4.xooimage.com/files/g/r/grip-54c8f.png" width="11" height="11" alt="resize" style="cursor:n-resize;float:right;padding-top:10px" onmousedown="resizeStart(event, 'chatList', 'V')" /><input type="text" id="chatMsg" onkeypress="return xooitChat.onPressKey(event)" class="post" style="width:70%" maxlength="100" /><input type="button" value="{L_SUBMIT}" onclick="xooitChat.sendMsg();" class="mainoption" /> <input type="button" value="{L_SMILIES}" onclick="xooitChat.showSmilies();" class="mainoption" />
  </td>
 </tr>
</table>
{CHAT_JS}
