<!-- BEGIN table_row -->
<table width="100%" cellpadding="0" cellspacing="1" border="0" class="forumline">
  <tr>
	<{PORTAL_CLASS_BALISE} class="{PORTAL_CLASS_TITLE}" height="25"><span class="genmed"><b>{table_row.L_TITRE}</b></span></{PORTAL_CLASS_BALISE}>
  </tr>
<!-- END table_row --> 
<!-- BEGIN not_table_row -->
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<!-- END not_table_row -->
  <tr>
	<td {CLASS_TABLE_TYPE} align="left">
	<span class="genmed">
	{S_SOURCE}
	</span>
	</td>
  </tr>
</table>
